<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1 * 2 %> </h3>
    <h3> <%= ["hello", "bonjour", "namaste"][0] %> </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur eos dolores, at voluptatibus aut doloremque consequuntur quas, enim omnis accusamus, eveniet totam aliquid! Sequi atque provident nihil voluptates corporis.</p>
    <button>Click me!</button>
</body>
</html>